.danger {
  border: red 1px solid;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  position: relative;
  top: 1rem;
  left: 9rem;
  font-size: 3rem;
  color: #343a41;
  cursor: pointer;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.form-container {
  width: 25rem;
  height: 45rem;
  border-radius: 2rem;
  background-color: #ffffff;
  padding: 1rem;
  color: black;
  align-items: center;
}
.button {
  padding: 1rem 4rem;
  background-color: #343a41;
  color: white;
  border-radius: 0.25rem;
  margin-top: 10rem;
  cursor: pointer
}
