.cards {
  display: flex;
  flex-wrap: wrap;
  background-color: #343a41;
  padding: 0 5%;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #343a41;
  height: 3rem;
  width: 100%;
  color: white;
  align-items: center;
}

.prev {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #26272e;
  height: 3rem;
  width: 5rem;
  border-radius: 15px;
  margin: 1rem;
  font-weight: bold;
}
.follow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #26272e;
  height: 3rem;
  width: 5rem;
  border-radius: 15px;
  margin: 1rem;
  font-weight: bold;
}

.follow:hover {
  background-color: white;
  color: #26272e;
}
.prev:hover {
  background-color: white;
  color: #26272e;
}
