.side-bar {
  margin: 2px;
  width: 50rem;
  background-color: #343a41;
  color: aliceblue;
  border: none;
}

.create-button{
  border: 2px solid white;
border-radius: 5px;
margin-top: 2rem;
background-color: black;
color: white;
padding: 1rem;
font-weight: bold;
}